<!doctype html>
<html class='default' xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Bible Study Center">
    <meta name="author" content="Pietro Lusso">
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>TEST - Bible Study Center</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/timeline.css" title="timeline-styles" rel="stylesheet">
    <link rel="shortcut icon" href="favicon.ico">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="css/bibleStudyCenter.css" rel="stylesheet">
</head>
<body>

<main role="main">

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">TEST</h1>
            <p>
                <a href="#" class="btn btn-warning my-2" id="testPersistence">Test Suite</a>
            </p>
        </div>
    </section>

    <div id="testResult" style="text-align: center;">
        <pre style="display: inline-block; text-align: left;" id="testResultData"></pre>
    </div>

    <div id='timeline-embed' style="width: 100%; height: 600px"></div>
</main>

<footer class="text-muted">
    <div class="container">
        <p class="float-right">
            <a href="/">Back to home</a>
        </p>
        <p>Copyright by Pietro Lusso 2019</p>
    </div>
</footer>
<script src="js/jquery-3.3.1.slim.min.js"></script>
<script src="js/timeline.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery-slim.min.js"><\/script>')</script><script src="js/bootstrap.bundle.js"></script></body>
<script src="js/bibleStudyCenter.js"></script>
<script>
    $("#testPersistence").click(function () {
        test.suite(function () {
            $('#testResultData').html(JSON.stringify(testResult, null, 2));

            if (testResult.persistenceTest === "Success!") {
                $('#testResult').append('<span class="badge badge-success">PersistenceTest OK!</span>');
            }
        });
    });
</script>
<script type="text/javascript">
    window.timeline = new TL.Timeline('timeline-embed', 'js/timelineTest.json');
</script>
</html>